.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.form h2 {
  background-color: red;
}

.form div input {
  margin-left: 5px;
  padding: 5px 10px;
  max-width: 100px;
}

.form div input:hover {
  border-color: #a52a2a;
}

.form button {
  padding: 5px 15px;
  margin-top: 10px;
  cursor: pointer;
}
